In [284]:
import pandas as pd
import glob
import math
import datetime
import matplotlib.pyplot as plt
from ipykernel import kernelapp as app
%matplotlib inline

In [2]:
ds = []
for file in glob.glob("*.csv"): #assuming all csv are on the same directory as the notebook
    if file != "Places.csv":
        month = file[5:7]
        day = file[8:10]
        ds.append([pd.read_csv(file, sep = ";"), day, month])
        ds[-1][0].columns = ["Day", "Trip_ID", "Operator_ID", "Shortform_Operator_Name", "Full_Operator_Name", "Transport_Mean_ID", 
                             "Technical_Key", "Communicated_Text", "Identify_Daily_Routine", "Transport_Mean", "Additional_Coaches",
                             "Cancelled", "Commercial_Stop_Identifyer", "Commercial_Stop_Name", "Arrival_Time","Expected_Arrival_Time",
                            "Ex_Status", "Departure_Time", "Expected_Departure_Time", "De_Status", "Stopped_as_expected"]

C:\Users\Pau Batlle\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (0,1,2,3,4,5,7,9,10,11,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
Station_Numbers = pd.read_csv("Places.csv", names = ["Number", "Station"])

In [7]:
cities_day_weather = pd.read_json("cities-day-weather.json")

In [13]:
l = [ds[i][0] for i in range(len(ds))]

In [15]:
mega_list = pd.concat(l)

In [3]:
def floty(x):
    if type(x) == float:
        return x
    return 0
def nnan(x):
    return not(math.isnan(x))

In [48]:
def weekday(s):
    return datetime.date(int(s[6:10]),int(s[3:5]), int(s[0:2])).weekday()

In [88]:
s = mega_list["Day"].tolist()

In [96]:
l = []
for i in s:
    if nnan(floty(i)):
        l.append(weekday(i)+1)
    else:
        l.append(0)

In [137]:
week = pd.DataFrame(data = list(zip(l)), columns=["Weekday"])

In [151]:
mega_list = mega_list.reset_index()

In [152]:
mega_list.tail()

,index,Day,Trip_ID,Operator_ID,Shortform_Operator_Name,Full_Operator_Name,Transport_Mean_ID,Technical_Key,Communicated_Text,Identify_Daily_Routine,...,Cancelled,Commercial_Stop_Identifyer,Commercial_Stop_Name,Arrival_Time,Expected_Arrival_Time,Ex_Status,Departure_Time,Expected_Departure_Time,De_Status,Stopped_as_expected
5134020,62243,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,False,8507492.0,Interlaken Ost,NaN,NaN,PROGNOSE,17.11.2016 23:00,17.11.2016 23:00,GESCHAETZT,False
5134021,62244,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,False,8507493.0,Interlaken West,17.11.2016 23:03,17.11.2016 23:03,GESCHAETZT,17.11.2016 23:05,17.11.2016 23:05,GESCHAETZT,False
5134022,62245,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,False,8507483.0,Spiez,17.11.2016 23:21,17.11.2016 23:20,GESCHAETZT,17.11.2016 23:22,17.11.2016 23:22,GESCHAETZT,False
5134023,62246,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,False,8507100.0,Thun,17.11.2016 23:32,17.11.2016 23:31,GESCHAETZT,17.11.2016 23:33,17.11.2016 23:33,GESCHAETZT,False
5134024,62247,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,False,8507000.0,Bern,17.11.2016 23:52,17.11.2016 23:52,GESCHAETZT,NaN,NaN,PROGNOSE,False

In [154]:
united = pd.concat([mega_list, week], axis = 1)

In [155]:
united.tail()

,index,Day,Trip_ID,Operator_ID,Shortform_Operator_Name,Full_Operator_Name,Transport_Mean_ID,Technical_Key,Communicated_Text,Identify_Daily_Routine,...,Commercial_Stop_Identifyer,Commercial_Stop_Name,Arrival_Time,Expected_Arrival_Time,Ex_Status,Departure_Time,Expected_Departure_Time,De_Status,Stopped_as_expected,Weekday
5134020,62243,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,8507492.0,Interlaken Ost,NaN,NaN,PROGNOSE,17.11.2016 23:00,17.11.2016 23:00,GESCHAETZT,False,4
5134021,62244,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,8507493.0,Interlaken West,17.11.2016 23:03,17.11.2016 23:03,GESCHAETZT,17.11.2016 23:05,17.11.2016 23:05,GESCHAETZT,False,4
5134022,62245,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,8507483.0,Spiez,17.11.2016 23:21,17.11.2016 23:20,GESCHAETZT,17.11.2016 23:22,17.11.2016 23:22,GESCHAETZT,False,4
5134023,62246,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,8507100.0,Thun,17.11.2016 23:32,17.11.2016 23:31,GESCHAETZT,17.11.2016 23:33,17.11.2016 23:33,GESCHAETZT,False,4
5134024,62247,17.11.2016,85:11:992:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,992.0,IC,NaN,...,8507000.0,Bern,17.11.2016 23:52,17.11.2016 23:52,GESCHAETZT,NaN,NaN,PROGNOSE,False,4

In [168]:
united.head(2)

,index,Day,Trip_ID,Operator_ID,Shortform_Operator_Name,Full_Operator_Name,Transport_Mean_ID,Technical_Key,Communicated_Text,Identify_Daily_Routine,...,Commercial_Stop_Identifyer,Commercial_Stop_Name,Arrival_Time,Expected_Arrival_Time,Ex_Status,Departure_Time,Expected_Departure_Time,De_Status,Stopped_as_expected,Weekday
0,0,18.08.2016,85:11:100:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,100.0,ICE,NaN,...,8500010.0,Basel SBB,NaN,NaN,PROGNOSE,18.08.2016 19:13,18.08.2016 19:13,GESCHAETZT,False,4
1,1,18.08.2016,85:11:100:001,85:11:00,SBB,Schweizerische Bundesbahnen SBB,Zug,100.0,ICE,NaN,...,8500090.0,Basel Bad Bf,18.08.2016 19:19,NaN,UNBEKANNT,18.08.2016 19:23,NaN,UNBEKANNT,False,4

In [169]:
cities_day_weather.head(2)

,20160818.0,20160819.0,20160820.0,20160821.0,20160822.0,20160823.0,20160824.0,20160825.0,20160826.0,20160827.0,...,20161022.0,20161023.0,20161024.0,20161025.0,20161026.0,20161027.0,20161028.0,20161029.0,20161030.0,20161031.0
5501024.0,113,0,54,0,0,0,0,0,0,5,...,0,70,132,207,49,0,0,0,0,0
5501131.0,113,0,54,0,0,0,0,0,0,5,...,0,70,132,207,49,0,0,0,0,0

We will now try to compute the average delay given a route, time of the day and weather.

In [171]:
#EXAMPLE: 22 august, route 101

In [246]:
a = list(united["Commercial_Stop_Identifyer"][united["Weekday"] == 1][united["Technical_Key"] == 101].unique())
b = list(united["Day"][united["Weekday"] == 1][united["Technical_Key"] == 101].unique())

In [255]:
#un dilluns, plovent 0<=x<=20, lÃ­nia 18893.0

In [4]:
def convert(s):
    return datetime.datetime(int(s[6:11]),int(s[3:5]),int(s[0:2]),int(s[11:13]),int(s[14:16]))

In [269]:
def date_conversion(s):
    return float(s[6:10])*10000+float(s[3:5])*100+float(s[0:2])

In [382]:
results = []
routes = [509, 1511, 707, 1513, 709]
Weekdays = [1,2,3,4,5,6,7]
rain_limit = [[0,50],[50, 150],[150,300]]
for A in routes:
    for B in Weekdays:
        for C in range(len(rain_limit)):
            lower_rain_limit = rain_limit[C][0]
            upper_rain_limit = rain_limit[C][1]
            a = list(united["Commercial_Stop_Identifyer"][united["Weekday"] == B][united["Technical_Key"] == A].unique())
            b = list(united["Day"][united["Weekday"] == B][united["Technical_Key"] == A].unique())
            first_ref = []
            for x in a:
                if float(x) in list(cities_day_weather.index):
                    for y in b:
                        if date_conversion(y) in list(cities_day_weather):
                            if lower_rain_limit <= cities_day_weather.ix[x,date_conversion(y)] and cities_day_weather.ix[x,date_conversion(y)] <= upper_rain_limit:
                                first_ref.append([x,y])
            third_ref= []
            for i in range(len(first_ref)):
                s = united.loc[united["Technical_Key"] == route][united["Commercial_Stop_Identifyer"]==first_ref[i][0]][united["Day"]==first_ref[i][1]]
                if list(s["Departure_Time"].value_counts()) != [] and list(s["Expected_Departure_Time"].value_counts()) != []: 
                    q = convert(str(s["Departure_Time"].value_counts()))
                    w = convert(str(s["Expected_Departure_Time"].value_counts()))
                    #print(i,q,w,(w-q).total_seconds())
                    third_ref.append(max((w-q).total_seconds(),0.0))
            if(len(third_ref) == 0):
                results.append(None)
                print(A,B,C,None)
            else:
                results.append(sum(third_ref)/len(third_ref))
                print(A,B,C,sum(third_ref)/len(third_ref))

C:\Users\Pau Batlle\Anaconda2\lib\site-packages\ipykernel\__main__.py:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

509 1 0 123.75
509 1 1 165.0
509 1 2 97.5
509 2 0 165.0
509 2 1 None
509 2 2 75.0
509 3 0 137.5
509 3 1 None
509 3 2 None
509 4 0 168.157894737
509 4 1 250.0
509 4 2 None
509 5 0 111.666666667
509 5 1 None
509 5 2 None
509 6 0 105.9375
509 6 1 146.25
509 6 2 None
509 7 0 187.5
509 7 1 90.0
509 7 2 45.0
1511 1 0 128.571428571
1511 1 1 180.0
1511 1 2 102.857142857
1511 2 0 170.526315789
1511 2 1 None
1511 2 2 75.0
1511 3 0 140.0
1511 3 1 None
1511 3 2 None
1511 4 0 168.157894737
1511 4 1 250.0
1511 4 2 None
1511 5 0 117.142857143
1511 5 1 None
1511 5 2 None
1511 6 0 115.636363636
1511 6 1 156.0
1511 6 2 None
1511 7 0 198.367346939
1511 7 1 102.352941176
1511 7 2 45.0
707 1 0 75.0
707 1 1 None
707 1 2 60.0
707 2 0 108.0
707 2 1 None
707 2 2 60.0
707 3 0 80.0
707 3 1 None
707 3 2 None
707 4 0 112.5
707 4 1 80.0
707 4 2 None
707 5 0 66.6666666667
707 5 1 None
707 5 2 None
707 6 0 97.5
707 6 1 105.0
707 6 2 None
707 7 0 162.857142857
707 7 1 0.0
707 7 2 0.0
1513 1 0 128.571428571
1513 1 1 180.0
1513 1 2 102.857142857
1513 2 0 170.526315789
1513 2 1 None
1513 2 2 75.0
1513 3 0 140.0
1513 3 1 None
1513 3 2 None
1513 4 0 171.692307692
1513 4 1 250.0
1513 4 2 None
1513 5 0 117.142857143
1513 5 1 None
1513 5 2 None
1513 6 0 115.636363636
1513 6 1 156.0
1513 6 2 None
1513 7 0 198.367346939
1513 7 1 102.352941176
1513 7 2 45.0
709 1 0 75.0
709 1 1 None
709 1 2 60.0
709 2 0 108.0
709 2 1 None
709 2 2 60.0
709 3 0 80.0
709 3 1 None
709 3 2 None
709 4 0 112.5
709 4 1 80.0
709 4 2 None
709 5 0 66.6666666667
709 5 1 None
709 5 2 None
709 6 0 111.428571429
709 6 1 140.0
709 6 2 None
709 7 0 162.857142857
709 7 1 0.0
709 7 2 0.0

In [386]:
i = 0
vec = []
for A in routes:
    for B in Weekdays:
        for C in rain_limit:
            vec.append([A,B,C,results[i]])
            i+=1

In [407]:
df3 = pd.DataFrame(data = vec, columns = ["Route", "Day of the week (1-7)", "Rain Range", "Expected delay (seconds)"])

In [393]:
df.to_csv('Final.csv')

In [401]:
results2 = []
routes = [1823, 2525]
Weekdays = [1,2,3,4,5,6,7]
rain_limit = [[0,50]]
for A in routes:
    for B in Weekdays:
        for C in range(len(rain_limit)):
            lower_rain_limit = rain_limit[C][0]
            upper_rain_limit = rain_limit[C][1]
            a = list(united["Commercial_Stop_Identifyer"][united["Weekday"] == B][united["Technical_Key"] == A].unique())
            b = list(united["Day"][united["Weekday"] == B][united["Technical_Key"] == A].unique())
            first_ref = []
            for x in a:
                if float(x) in list(cities_day_weather.index):
                    for y in b:
                        if date_conversion(y) in list(cities_day_weather):
                            if lower_rain_limit <= cities_day_weather.ix[x,date_conversion(y)] and cities_day_weather.ix[x,date_conversion(y)] <= upper_rain_limit:
                                first_ref.append([x,y])
            third_ref= []
            for i in range(len(first_ref)):
                s = united.loc[united["Technical_Key"] == route][united["Commercial_Stop_Identifyer"]==first_ref[i][0]][united["Day"]==first_ref[i][1]]
                if list(s["Departure_Time"].value_counts()) != [] and list(s["Expected_Departure_Time"].value_counts()) != []: 
                    q = convert(str(s["Departure_Time"].value_counts()))
                    w = convert(str(s["Expected_Departure_Time"].value_counts()))
                    #print(i,q,w,(w-q).total_seconds())
                    third_ref.append(max((w-q).total_seconds(),0.0))
            if(len(third_ref) == 0):
                results2.append(None)
                print(A,B,C,None)
            else:
                results2.append(sum(third_ref)/len(third_ref))
                print(A,B,C,sum(third_ref)/len(third_ref))

C:\Users\Pau Batlle\Anaconda2\lib\site-packages\ipykernel\__main__.py:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

1823 1 0 75.0
1823 2 0 108.0
1823 3 0 80.0
1823 4 0 112.5
1823 5 0 67.5
1823 6 0 111.428571429
1823 7 0 162.857142857
2525 1 0 75.0
2525 2 0 108.0
2525 3 0 80.0
2525 4 0 112.5
2525 5 0 66.6666666667
2525 6 0 111.428571429
2525 7 0 162.857142857

In [402]:
i = 0
vec2 = []
for A in routes:
    for B in Weekdays:
            vec2.append([A,B,results2[i]])
            i+=1

In [403]:
df = pd.DataFrame(data = vec2, columns = ["Route", "Day of the week (1-7)", "Expected delay (seconds)"])

In [404]:
df.to_csv("1823-2525.csv")

In [405]:
df.head()

   Route  Day of the week (1-7)  Expected delay (seconds)
0   1823                      1                      75.0
1   1823                      2                     108.0
2   1823                      3                      80.0
3   1823                      4                     112.5
4   1823                      5                      67.5

In [429]:
df3[["Route", "Day of the week (1-7)"]][df3["Rain Range"]== 0,50]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [426]:
df3.dtypes

Route                         int64
Day of the week (1-7)         int64
Rain Range                   object
Expected delay (seconds)    float64
dtype: object